*{
    margin: 0;
    padding: 0;
}



body {
   
   margin: 0;
   padding: 0;
    background-color: 
    rgb(255, 0, 0);

}

#banner {
    width: 100%;
} 
h1{
font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}

.texto {
font-size: 30px;
text-align: center;
color: aqua;
}